.rich-text-block {
  max-width: var(--width-content);
  margin: 0 auto;
  padding: 0 1.5rem;

  ::ng-deep img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
  }
}
